h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: normal;
}

h1,
.#{$pre}heading--h1 {
	@extend %heading;
	@extend %heading--h1;
}

h2,
.#{$pre}heading--h2 {
	@extend %heading;
	@extend %heading--h2;
}

h3,
.#{$pre}heading--h3 {
	@extend %heading;
	@extend %heading--h3;
}

h4,
.#{$pre}heading--h4 {
	@extend %heading;
	@extend %heading--h4;
}

h5,
.#{$pre}heading--h4 {
	@extend %heading;
	@extend %heading--h4;
	font-family: font-family(text--bold)
}

h6,
.#{$pre}heading--h6 {
	@extend %heading;
	@extend %heading--h6;
}
