<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../styles/app.css">
        <title>Product Page</title>
	</head>
    <body>
        <div class="bl_header">
            <div class="bl_header__left">
				<div class="bl_header__branding">
					<img class="bl_header__logo" src="../../images/navs-logo.png" alt="">
				</div>
                <ul class="bl_header__nav">
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Waste & Cruelty of Dissection</a>
                    </li>
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Benefits of Alternatives</a>
                    </li>
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Student Choice Laws</a>
                    </li>
                </ul>
            </div>
            <div class="bl_header__right">
				<div class="bl_header__actions">
					<a class="bl_button bl_button--default" href="#">Find Alternatives</a><a class="bl_button bl_button--super" href="#">Donate</a>
				</div>
            </div>
        </div>
        <div class="bl_template bl_product-page bl_product-page__content">
            <div class="bl_template__section">
				<div class="bl_surface">

					<div class="bl_surface__section bl_surface__section--50">
						<div class="bl_product-files">
							<div class="bl_product-image-carousel">
								<img class="" src="http://placehold.it/512" alt="">
	                        </div>
							<div class="bl_product-documents">
								<h6 class="bl_product-documents__heading">Documents</h6>
								<span class="bl_heading-rule"></span>
								<ul class="bl_product-documents__list">
									<li class="bl_product-documents__item">
										<a class="bl_product-documents__link" href="#">
											<img class="bl_product-documents__icon" src="../../images/pdf-icon.svg" alt="">
											User Manual
										</a>
									</li>
								</ul>
							</div>
						</div>

                    </div>

                    <div class="bl_surface__section bl_surface__section--50">
                        <div class="bl_product-information">
                        	<div class="bl_wishlist-save">
                        		<a class="bl_wishlist-save__add" href="#">
									<img src="../../images/star-icon.svg" alt="">
									Save to my list
								</a>
                        	</div>
							<h1 class="bl_product-title">Product Title</h1>
							<div class="bl_manufacturer-name">
								Manufacturer Name
							</div>
							<div class="bl_buy-info">
								<a class="bl_buy-info__where-to-buy" href="#">Where To Buy</a>
								<div class="bl_buy-info__price">
									List Price: $400
								</div>

							</div>
							<div class="bl_product-description">
								<p class="bl_product-description__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
								<a class="bl_product-description__view-more"href="#">view more...</a>
							</div>
							<dl class="bl_product-attributes">
								<dt class="bl_product-attributes__term">Format:</dt>
								<dd class="bl_product-attributes__name">Physical Model</dd>
								<dt class="bl_product-attributes__term">Animal:</dt>
								<dd class="bl_product-attributes__name">Cat</dd>
								<dt class="bl_product-attributes__term">Grade Level:</dt>
								<dd class="bl_product-attributes__name">6-8</dd>
							</dl>
							<div class="bl_product-additional">
								<h6 class="bl_product-additional__heading">Additional Details</h6>
								<span class="bl_heading-rule"></span>
								<div class="bl_product-additional__item">
									<span class="bl_product-additional__icon"><img src="../../images/x.svg" alt=""></span>
									<span class="bl_product-additional__info">
										<p class="bl_product-additional__attribute">Compatible with online learning</p>
										<p class="bl_product-additional__description">This product is compatible with online learning.</p>
									</span>
								</div>
								<div class="bl_product-additional__item">
									<span class="bl_product-additional__icon"><img src="../../images/x.svg" alt=""></span>
									<span class="bl_product-additional__info">
										<p class="bl_product-additional__attribute">Reusable</p>
										<p class="bl_product-additional__description">This product is reusable.</p>
									</span>
								</div>
								<div class="bl_product-additional__item">
									<span class="bl_product-additional__icon"><img src="../../images/checkmark.svg" alt=""></span>
									<span class="bl_product-additional__info">
										<p class="bl_product-additional__attribute">Supported</p>
										<p class="bl_product-additional__description">This product is currently supported by its manufacturer.</p>
									</span>
								</div>
								<div class="bl_product-additional__item">
									<span class="bl_product-additional__icon"><img src="../../images/x.svg" alt=""></span>
									<span class="bl_product-additional__info">
										<p class="bl_product-additional__attribute">No special hardware or accessories needed</p>
										<p class="bl_product-additional__description">This product is standalone.</p>
									</span>
								</div>
							</div>
                        </div>
                    </div>

                </div>

				<div class="bl_surface">
					<div class="bl_surface__section">
                        <div class="bl_related-products">
                        	<h3 class="bl_related-products__heading">Similar Products</h3>
							<span class="bl_heading-rule"></span>
							<div class="bl_related-products__grid">
								<div class="bl_product-card">
									<div class="bl_product-card__image-container">
										<a href="#">
											<img class="bl_product-card__image" src="http://placehold.it/512" alt="">
										</a>
									</div>
									<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
									<dl class="bl_product-card__attributes">
										<dt class="bl_product-card__term">Format:</dt>
										<dd class="bl_product-card__name">Physical Model</dd>
										<dt class="bl_product-card__term">Grade Level:</dt>
										<dd class="bl_product-card__name">6-8</dd>
									</dl>
								</div>
								<div class="bl_product-card">
									<div class="bl_product-card__image-container">
										<a href="#">
											<img class="bl_product-card__image" src="http://placehold.it/512" alt="">
										</a>
									</div>
									<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
									<dl class="bl_product-card__attributes">
										<dt class="bl_product-card__term">Format:</dt>
										<dd class="bl_product-card__name">Physical Model</dd>
										<dt class="bl_product-card__term">Grade Level:</dt>
										<dd class="bl_product-card__name">6-8</dd>
									</dl>
								</div>
								<div class="bl_product-card">
									<div class="bl_product-card__image-container">
										<a href="#">
											<img class="bl_product-card__image" src="http://placehold.it/512" alt="">
										</a>
									</div>
									<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
									<dl class="bl_product-card__attributes">
										<dt class="bl_product-card__term">Format:</dt>
										<dd class="bl_product-card__name">Physical Model</dd>
										<dt class="bl_product-card__term">Grade Level:</dt>
										<dd class="bl_product-card__name">6-8</dd>
									</dl>
								</div>
							</div>

                        </div>
                    </div>
				</div>

            </div>
        </div>
        <div class="bl_footer">
			<img class="bl_footer__logo" src="../../images/logo-no-tag-white.png" alt="NAVS Logo">
			<div class="bl_footer__contact">
				<div class="bl_footer__address">
					53 W. Jackson Blvd., Suite 1552, Chicago, IL 60604
				</div>
				<div class="bl_footer__phone">
					800.888.NAVS (312.427.6065)  |  EIN: 36-2229588
				</div>
			</div>
			<div class="bl_footer__copyright">
				&copy; 2021 National Anti-Vivisection Society. All Rights Reserved. | {{footer----menu}}
			</div>
			<ul class="bl_footer__social">
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Facebook
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Twitter
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Instagram
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						YouTube
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						LinkedIn
					</a>
				</li>
			</ul>
			<div class="bl_footer__credentials">
				<img src="../../images/GreatNP2019Rating.png" alt="">
				<img src="../../images/Guidestar_2020.png" alt="">
				<img src="../../images/BBB-AC.png" alt="">
			</div>
        </div>
    </body>
</html>
