<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../styles/app.css">
        <title>Product Catalog</title>
	</head>
    <body>
		<div class="bl_header">
            <div class="bl_header__left">
				<div class="bl_header__branding">
					<img class="bl_header__logo" src="../../images/navs-logo.png" alt="">
				</div>
                <ul class="bl_header__nav">
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Waste & Cruelty of Dissection</a>
                    </li>
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Benefits of Alternatives</a>
                    </li>
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Student Choice Laws</a>
                    </li>
                </ul>
            </div>
            <div class="bl_header__right">
				<div class="bl_header__actions">
					<a class="bl_button bl_button--default" href="#">Find Alternatives</a><a class="bl_button bl_button--super" href="#">Donate</a>
				</div>
            </div>
        </div>
        <div class="bl_masthead">
            <img src="../../images/slide-dog2.jpg" alt="">
        </div>
        <div class="bl_template bl_product-catalog">
            <div class="bl_template__section">

				<div class="bl_surface">
					<div class="bl_surface__section--100">
						<div class="bl_product-catalog__header bl_control-bar">
							<div class="bl_control-bar__left">
								<h1 class="bl_product-catalog__heading">Dissection Alternatives Products</h1>
							</div>
							<div class="bl_control-bar__right">

								<a class="bl_my-list-link bl_control-bar__item-right" href="#">My List</a>
								<div class="bl_search-form bl_control-bar__item-right">
									<input type="text" name="" value="" placeholder="search products...">
									<a class="bl_search-form__submit" href="#"><span class="fas fa-search"></span></a>
									<!--<input type="submit" name="" value="Search">-->
								</div>
							</div>
						</div>

					</div>
					<div class="bl_surface__section--25">
						<div class="bl_catalog-filters">
							<h4 class="bl_catalog-filters__heading">Filters</h4>

							<div class="bl_filter-group">
								<h6 class="bl_filter-group__name expanded">Format</h6>
								<ul class="bl_filter-group__list">
									<li class="bl_filter-group__item">
										<a class="bl_filter-group__link" href="#">
											<span class="bl_filter-group__item-value">Digital</span>
											<span class="bl_filter-group__item-count">(132)</span>
										</a>
										<ul class="bl_filter-group__item-children">
											<li class="bl_filter-group__item">
												<a class="bl_filter-group__link" href="#">
													<span class="bl_filter-group__item-value">Online / Web Application</span>
													<span class="bl_filter-group__item-count">(2)</span>
												</a>
											</li>
											<li class="bl_filter-group__item">
												<a class="bl_filter-group__link" href="#">
													<span class="bl_filter-group__item-value">Mobile Application</span>
													<span class="bl_filter-group__item-count">(2)</span>
												</a>
											</li>
											<li class="bl_filter-group__item">
												<a class="bl_filter-group__link" href="#">
													<span class="bl_filter-group__item-value">Software Application</span>
													<span class="bl_filter-group__item-count">(2)</span>
												</a>
											</li>
										</ul>
									</li>
									<li class="bl_filter-group__item">
										<a class="bl_filter-group__link" href="#">
											<span class="bl_filter-group__item-value">Multi-Format</span>
											<span class="bl_filter-group__item-count">(17)</span>
										</a>
									</li>
									<li class="bl_filter-group__item">
										<a class="bl_filter-group__link" href="#">
											<span class="bl_filter-group__item-value">Physical Model</span>
											<span class="bl_filter-group__item-count">(58)</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="bl_filter-group">
								<h6 class="bl_filter-group__name expanded">Animal</h6>
								<ul class="bl_filter-group__list">
									<li class="bl_filter-group__item">
										<a class="bl_filter-group__link" href="#">
											<span class="bl_filter-group__item-value">Bird</span>
											<span class="bl_filter-group__item-count">(132)</span>
										</a>
									</li>
									<li class="bl_filter-group__item">
										<a class="bl_filter-group__link" href="#">
											<span class="bl_filter-group__item-value">Cat</span>
											<span class="bl_filter-group__item-count">(17)</span>
										</a>
									</li>
									<li class="bl_filter-group__item">
										<a class="bl_filter-group__link" href="#">
											<span class="bl_filter-group__item-value">Chicken</span>
											<span class="bl_filter-group__item-count">(58)</span>
										</a>
									</li>
									<li class="bl_filter-group__item">
										<a class="bl_filter-group__link" href="#">
											<span class="bl_filter-group__item-value">Clam</span>
											<span class="bl_filter-group__item-count">(58)</span>
										</a>
									</li>
									<li class="bl_filter-group__item">
										<a class="bl_filter-group__link" href="#">
											<span class="bl_filter-group__item-value">Crayfish</span>
											<span class="bl_filter-group__item-count">(58)</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
                    </div>
					<div class="bl_surface__section--75">
						<div class="bl_product-grid">
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/animals" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/arch" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/nature" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/animals" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/arch" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/nature" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/animals" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/arch" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
							<div class="bl_product-card">
								<div class="bl_product-card__image-container">
									<a href="#">
										<img class="bl_product-card__image" src="https://placeimg.com/512/384/nature" alt="">
									</a>
								</div>
								<h4 class="bl_product-card__title"><a href="#">Product Name</a></h4>
								<dl class="bl_product-card__attributes">
									<dt class="bl_product-card__term">Format:</dt>
									<dd class="bl_product-card__name">Physical Model</dd>
									<dt class="bl_product-card__term">Grade Level:</dt>
									<dd class="bl_product-card__name">6-8</dd>
								</dl>
							</div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
		<div class="bl_footer">
			<img class="bl_footer__logo" src="../../images/logo-no-tag-white.png" alt="NAVS Logo">
			<div class="bl_footer__contact">
				<div class="bl_footer__address">
					53 W. Jackson Blvd., Suite 1552, Chicago, IL 60604
				</div>
				<div class="bl_footer__phone">
					800.888.NAVS (312.427.6065)  |  EIN: 36-2229588
				</div>
			</div>
			<div class="bl_footer__copyright">
				&copy; 2021 National Anti-Vivisection Society. All Rights Reserved. | {{footer----menu}}
			</div>
			<ul class="bl_footer__social">
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Facebook
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Twitter
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Instagram
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						YouTube
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						LinkedIn
					</a>
				</li>
			</ul>
			<div class="bl_footer__credentials">
				<img src="../../images/GreatNP2019Rating.png" alt="">
				<img src="../../images/Guidestar_2020.png" alt="">
				<img src="../../images/BBB-AC.png" alt="">
			</div>
        </div>
    </body>
</html>
