<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../styles/app.css">
        <title>Wishlist</title>
	</head>
    <body>
		<div class="bl_header">
            <div class="bl_header__left">
				<div class="bl_header__branding">
					<img class="bl_header__logo" src="../../images/navs-logo.png" alt="">
				</div>
                <ul class="bl_header__nav">
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Waste & Cruelty of Dissection</a>
                    </li>
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Benefits of Alternatives</a>
                    </li>
                    <li class="bl_header__nav-item">
                        <a class="bl_header__nav-link" href="#">Student Choice Laws</a>
                    </li>
                </ul>
            </div>
            <div class="bl_header__right">
				<div class="bl_header__actions">
					<a class="bl_button bl_button--default" href="#">Find Alternatives</a><a class="bl_button bl_button--super" href="#">Donate</a>
				</div>
            </div>
        </div>
        <div class="bl_masthead">
            <img src="../../images/slide-dog2.jpg" alt="">
        </div>
        <div class="bl_template bl_wishlist">
            <div class="bl_template__section">

				<div class="bl_surface">
					<div class="bl_surface__section--100">
						<div class="bl_wishlist__header bl_control-bar">
							<div class="bl_control-bar__left">
								<h1 class="bl_wishlist__heading">Wishlist</h1>
							</div>
							<div class="bl_control-bar__right">
								<a class="bl_wishlist__share bl_control-bar__item-right" href="#">Share List by Email</a>
							</div>
						</div>

					</div>
					<div class="bl_surface__section--100">
						<div class="bl_wishlist__grid">
							<div class="bl_wishlist-card">
								<div class="bl_wishlist-card__image-container">
									<a class="bl_wishlist-card__image" href="#">
										<img  src="https://placeimg.com/512/384/animals" alt="">
									</a>
								</div>
								<div class="bl_wishlist-card__info">
									<a class="bl_wishlist-card__title" href="#">Product Name</a>
									<p class="bl_wishlist-card__manufacturer">Namufacturer Name</p>
									<p class="bl_wishlist-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
								</div>
								<dl class="bl_wishlist-card__attributes">
									<dt class="bl_wishlist-card__term">Format:</dt>
									<dd class="bl_wishlist-card__name">Physical Model</dd>
									<dt class="bl_wishlist-card__term">Animal:</dt>
									<dd class="bl_wishlist-card__name">Cat</dd>
									<dt class="bl_wishlist-card__term">Grade Level:</dt>
									<dd class="bl_wishlist-card__name">6-8</dd>
									<dt class="bl_wishlist-card__term">List Price:</dt>
									<dd class="bl_wishlist-card__name">$100</dd>
								</dl>
								<div class="bl_wishlist-card__actions">
									<a class="bl_wishlist-card__actions-where-to-buy" href="#">Where to Buy</a>
									<a class="bl_wishlist-card__actions-remove " href="#">Remove</a>
								</div>
							</div>
							<div class="bl_wishlist-card">
								<div class="bl_wishlist-card__image-container">
									<a class="bl_wishlist-card__image" href="#">
										<img  src="https://placeimg.com/512/384/animals" alt="">
									</a>
								</div>
								<div class="bl_wishlist-card__info">
									<a class="bl_wishlist-card__title" href="#">Product Name</a>
									<p class="bl_wishlist-card__manufacturer">Namufacturer Name</p>
									<p class="bl_wishlist-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
								</div>
								<dl class="bl_wishlist-card__attributes">
									<dt class="bl_wishlist-card__term">Format:</dt>
									<dd class="bl_wishlist-card__name">Physical Model</dd>
									<dt class="bl_wishlist-card__term">Animal:</dt>
									<dd class="bl_wishlist-card__name">Cat</dd>
									<dt class="bl_wishlist-card__term">Grade Level:</dt>
									<dd class="bl_wishlist-card__name">6-8</dd>
									<dt class="bl_wishlist-card__term">List Price:</dt>
									<dd class="bl_wishlist-card__name">$100</dd>
								</dl>
								<div class="bl_wishlist-card__actions">
									<a class="bl_wishlist-card__actions-where-to-buy" href="#">Where to Buy</a>
									<a class="bl_wishlist-card__actions-remove " href="#">Remove</a>
								</div>
							</div>
							<div class="bl_wishlist-card">
								<div class="bl_wishlist-card__image-container">
									<a class="bl_wishlist-card__image" href="#">
										<img  src="https://placeimg.com/512/384/animals" alt="">
									</a>
								</div>
								<div class="bl_wishlist-card__info">
									<a class="bl_wishlist-card__title" href="#">Product Name</a>
									<p class="bl_wishlist-card__manufacturer">Namufacturer Name</p>
									<p class="bl_wishlist-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
								</div>
								<dl class="bl_wishlist-card__attributes">
									<dt class="bl_wishlist-card__term">Format:</dt>
									<dd class="bl_wishlist-card__name">Physical Model</dd>
									<dt class="bl_wishlist-card__term">Animal:</dt>
									<dd class="bl_wishlist-card__name">Cat</dd>
									<dt class="bl_wishlist-card__term">Grade Level:</dt>
									<dd class="bl_wishlist-card__name">6-8</dd>
									<dt class="bl_wishlist-card__term">List Price:</dt>
									<dd class="bl_wishlist-card__name list-price">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor</dd>
								</dl>
								<div class="bl_wishlist-card__actions">
									<a class="bl_wishlist-card__actions-where-to-buy" href="#">Where to Buy</a>
									<a class="bl_wishlist-card__actions-remove " href="#">Remove</a>
								</div>
							</div>
							<div class="bl_wishlist-card">
								<div class="bl_wishlist-card__image-container">
									<a class="bl_wishlist-card__image" href="#">
										<img  src="https://placeimg.com/512/384/animals" alt="">
									</a>
								</div>
								<div class="bl_wishlist-card__info">
									<a class="bl_wishlist-card__title" href="#">Product Name</a>
									<p class="bl_wishlist-card__manufacturer">Namufacturer Name</p>
									<p class="bl_wishlist-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
								</div>
								<dl class="bl_wishlist-card__attributes">
									<dt class="bl_wishlist-card__term">Format:</dt>
									<dd class="bl_wishlist-card__name">Physical Model</dd>
									<dt class="bl_wishlist-card__term">Animal:</dt>
									<dd class="bl_wishlist-card__name">Cat</dd>
									<dt class="bl_wishlist-card__term">Grade Level:</dt>
									<dd class="bl_wishlist-card__name">6-8</dd>
									<dt class="bl_wishlist-card__term">List Price:</dt>
									<dd class="bl_wishlist-card__name">$100</dd>
								</dl>
								<div class="bl_wishlist-card__actions">
									<a class="bl_wishlist-card__actions-where-to-buy" href="#">Where to Buy</a>
									<a class="bl_wishlist-card__actions-remove " href="#">Remove</a>
								</div>
							</div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
		<div class="bl_footer">
			<img class="bl_footer__logo" src="../../images/logo-no-tag-white.png" alt="NAVS Logo">
			<div class="bl_footer__contact">
				<div class="bl_footer__address">
					53 W. Jackson Blvd., Suite 1552, Chicago, IL 60604
				</div>
				<div class="bl_footer__phone">
					800.888.NAVS (312.427.6065)  |  EIN: 36-2229588
				</div>
			</div>
			<div class="bl_footer__copyright">
				&copy; 2021 National Anti-Vivisection Society. All Rights Reserved. | {{footer----menu}}
			</div>
			<ul class="bl_footer__social">
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Facebook
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Twitter
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						Instagram
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						YouTube
					</a>
				</li>
				<li class="bl_footer__social-item">
					<a class="bl_footer__social-link" href="#">
						LinkedIn
					</a>
				</li>
			</ul>
			<div class="bl_footer__credentials">
				<img src="../../images/GreatNP2019Rating.png" alt="">
				<img src="../../images/Guidestar_2020.png" alt="">
				<img src="../../images/BBB-AC.png" alt="">
			</div>
        </div>
    </body>
</html>
