<div class="bl_custom-page">
    {{ page.header }}
    {{ bamboo_render_field('field_masthead', 'node') }}
    <div class="bl_template">
        <div class="bl_template__section">
            {{ bamboo_render_field('field_content', 'node') }}
        </div>
    </div>
    {{ page.footer }}
</div>
