{#
/**
 * @file
 * Template for the wishlist share email.
 *
 * Available variables:
 * - wishlist_entity: The wishlist entity.
 * - wishlist_url: The wishlist url.
 *
 * @ingroup themeable
 */
#}



<p>{{ sender_name }} has sent you a list of dissection alternatives.</p>
<p>You can have a look at it <a href="{{ wishlist_url }}">here</a>.
<h2>{{ sender_name }}'s message to you:</h2>
<p>{{ sender_message }}</p>
