{#
/**
 * @file
 * Template for the wishlist share email.
 *
 * Available variables:
 * - wishlist_entity: The wishlist entity.
 * - wishlist_url: The wishlist url.
 *
 * @ingroup themeable
 */
#}

<p>It’s time to make the life sciences more humane by using safe, cost-effective alternatives to classroom dissection! {{ sender_name }} has identified alternatives for their classroom and wants you to take a look.</p>
<p>You can <a href="{{ wishlist_url }}">view their product list here</a>.
<h4>{{ sender_name }}'s message to you:</h4>
<p>{{ sender_message }}</p>
<p>The <a href="https://bioleap.org">BioLEAP Biology Education Advancement Program</a> from NAVS is a comprehensive resource for teachers and other educators looking to implement more modern and humane alternatives to dissection and for students who do not want to participate in classroom dissection exercises.</p>
<p>The National Anti-Vivisection Society (NAVS) has been an advocate for ending animal experimentation since its founding in 1929. NAVS promotes the development and use of modern, human-relevant and innovative methods of research, safety testing and education to replace cruel, costly and flawed animal experiments. <a href="https://navs.org">Learn more about NAVS here</a>.</p>
