.#{$pre}product-page {

    &__content {
        padding-top: layout(layout--xl) !important;
    }

    // LEFT COLUMN
    .#{$pre}product-image-carousel {
        margin-bottom: layout(spacing--lg);
    }

    .#{$pre}product-slick {

        img {
            width: 100%;
            height: auto;
        }
    }

    .#{$pre}product-slick__nav {

        .slick-list {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-left: layout(spacing--sm)*-1 !important;
            margin-right: layout(spacing--sm)*-1 !important;
            margin-top: layout(spacing--md);
        }

        &-item {
            padding: 0 layout(spacing--sm);

            display: flex !important;
            align-items: center;

            @include respond-to(tablet) {
                height: 80px;
            }

            img {
                width: 100%;
                height: auto;

            }
        }
    }

    .#{$pre}product-documents {

        &__heading {
            @extend %heading--h7;
            margin-bottom: layout(spacing--xs);
        }

        &__list {
            //margin-top: layout(spacing--md);
        }

        &__item {

        }

        &__link {

            &::before {
                font-family: "Font Awesome 5 Pro";
                content: '\f1c1';
                padding-right: layout(spacing--2xs);
            }
        }

        &__icon {
            float: left;
            margin-right: layout(spacing--sm);
        }
    }

    // RIGHT COLUMN
    .#{$pre}product-information {

    }

    .#{$pre}wishlist-save {
        display: flex;
        flex-direction: row-reverse;

        &__add {
            //@extend %button;
            //@extend %button--link;
            line-height: 1.5rem;
            display: flex;
            font-size: rem(font-size(fs--13));

            div[data-drupal-selector="edit-actions"] {
                outline: none;
                text-align: right;

                input {
                    outline: none;
                }

                &::before {
                    @include responsive-type(fs--13, display);
                    font-family: "Font Awesome 5 Pro";
                    content: '\f005';
                    font-size: rem(font-size(fs--13));
                    color: color(orange);
                    margin-right: layout(spacing--2xs);
                }
            }

            #edit-submit,
            .button--add-to-cart {
                display: none;
            }

            .form-submit[value="Add to List"] {
                @include responsive-type(fs--13, display);
                color: color(blue);
                background-color: transparent;
                border: none;
                text-transform: uppercase;
                cursor: pointer;
            }

            .commerce-order-item-add-to-cart-form {

                div[aria-label="Status message"] {
                    background-color: color(gray);
                    color: color(black);
                    padding: layout(spacing--sm);
                    margin-bottom: layout(spacing--sm);
                }
            }
        }
    }

    .#{$pre}product-title {
        @extend %heading--h4;
        margin-top: layout(spacing--md);
        margin-bottom: layout(spacing--3xs);
        clear: both;
    }

    .#{$pre}manufacturer-name {
        margin-bottom: layout(spacing--xl);
        text-transform: uppercase;
    }

    .#{$pre}buy-info {
        display: flex;
        align-items: center;
        margin-bottom: layout(spacing--xl);

        &__price {
            @include responsive-type(fs--12, text);
            font-weight: 600;
            margin-left: layout(spacing--md);
        }

        &__where-to-buy {
            display: inline-block;
            float: right;

            a {
                @extend %button;
                @extend %button--default;
            }
        }
    }

    .#{$pre}product-description {
        margin-bottom: layout(spacing--xl);


        &__copy {
            @extend %text;
            @include line-clamp(5,90px);
            margin-bottom: 0;
            transition: transition(slow);

            @include respond-to(tablet) {
                @include line-clamp(5,102px);
            }

            @include respond-to(desktop) {
                @include line-clamp(5,114px);
            }

            @include respond-to(desktop-large) {
                @include line-clamp(5,124px);
            }

            &.expand {
                max-height: 1500px;
                transition: transition(slow);
                display: block;
                position: relative;
                -webkit-line-clamp: none;
                -webkit-box-orient: vertical;
                //overflow: visible;
                text-overflow: none;
            }
        }

        &__view-more {
            @include responsive-type(fs--14, text);
        }


    }

    .#{$pre}product-attributes {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: layout(spacing--xl);
        @include responsive-type(fs--13, text);

        &__term {
            flex-basis: 25%;
            font-weight: 600;
        }

        &__name {
            flex-basis: 75%;
            margin-bottom: layout(spacing--2xs);
        }
    }

    .#{$pre}product-additional {
        margin-bottom: layout(spacing--xl);

        &__heading {
            @extend %heading--h7;
            margin-bottom: layout(spacing--xs);
        }

        &__item {
            display: flex;
            flex-wrap: wrap;
            border-bottom: border(hairline, gray);
            margin-bottom: layout(spacing--xs);
            margin-top: layout(spacing--xs);
            @include responsive-type(fs--13, text);
        }

        &__icon {
            flex-basis: 7%;
            display: flex;
            align-items: top;

            i {
                @include responsive-type(fs--11, display);
                color: color(gray, extra-dark);
                width: 75%;
                text-align: center;

                &.yes {
                    color: green;
                }
            }


        }

        &__info {
            flex-basis: 93%;

        }

        &__attribute {
            @include responsive-type(fs--14, text);
            margin-bottom: layout(spacing--3xs);
        }

        &__description {
            color: color(gray, extra-dark);
            @include responsive-type(fs--14, text);
            margin-bottom: layout(spacing--xs);
        }
    }

    .#{$pre}product-media {
    }

    .#{$pre}related-products {
        margin-top: layout(layout--md);

        &__heading {
            @extend %heading--h4;
        }

        &__grid {
            display: flex;
            margin-left: layout(spacing--sm) * -1;
            margin-right: layout(spacing--sm) * -1;

            .#{$pre}product-card {
                flex-basis: 33%;
            }
        }
    }

    .#{$pre}embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__blanket {
            display: none;
        }

        &--thumb {
            width: 100%;
            height: 100%;

            iframe,
            object,
            embed {
                z-index: 1;
            }

            .#{$pre}embed-container__blanket {
                display: block;
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    .#{$pre}video-modal {
        position: fixed;
        z-index: -1;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transition(base);

        &.show {
            z-index: 10000;
            opacity: 1;
            transition: transition(base);
        }

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparentize(#000000, .15);
        }

        &__container {
            position: absolute;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .#{$pre}embed-container {
                box-shadow: 6px 6px 6px transparentize(color(black), .15);
            }
        }

        &__close {
            text-align: right;
            color: color(white);
            display: block;
            margin-top: layout(spacing--sm);
            transition: transition(base);
            cursor: pointer;

            &:hover {
                color: color(white, extra-dark);
            }
        }
    }
}
