<div{{ attributes }}>
    <div class="bl_product-catalog-header">
        <div class="bl_product-catalog-header__heading-container">
            <h2{{ title_attributes }}>{{ label }}</h2>
            <div class="bl_product-catalog-header__wishlist">
                <a href="/wishlist" class="bl_product-catalog-header__wishlist-link">My Product List</a>
            </div>
        </div>
        <div class="bl_search-form">
            {% block content %}
            {{ content }}
            {% endblock %}
        </div>
    </div>
</div>
