// BUTTON PATTERNS

// @extend %button
$button-patterns: (
	pattern-config: (
		responsive-type: true,
		size: fs--base,
		name: 'button',
		type-style: text,
	),
	display: inline-block,
	white-space: normal,
	margin: 0,
	padding: 15px 18px,
	text-align: center,
	font-family: font-family(text),
	font-weight: 700,
	text-transform: uppercase,
	color: color(white),
	vertical-align: inherit,
	touch-action: auto,
	cursor: pointer,
	background-image: none,
	background-color: color(blue),
	border: border(hairline, transparent),
	transition: transition(base),
	":hover": (
		background-color: color(blue-dark),
		text-decoration: none,
		color: color(white),
		border: border(hairline, transparent),
	),
	":active": (
		background-color: color(blue-dark, dark),
		color: color(white),
		outline: none
	),
	"::before": (),
	"::after": (),
	modifiers: (
		"--default": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			background-color: color(blue),
			border: border(hairline, clear),
			":hover": (
				background-color: color(blue-dark, light),
				text-decoration: none,
				color: color(white),
				border: border(hairline, transparent),
			),
			":active": (
				background-color: color(blue-dark, dark),
				text-decoration: none,
				color: color(white),
				border: border(hairline, transparent),
			),
		),
		"--super": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(white),
			background-color: color(orange),
			border: border(hairline, clear),
			":hover": (
				background-color: color(blue-dark),
				text-decoration: none,
				color: color(white),
				border: border(hairline, clear),
			),
			":active": (
				background-color: color(blue-dark, dark),
				text-decoration: none,
				color: color(white),
				border: border(hairline, clear),
			),
		),
		"--link": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(blue),
			background-color: color(clear),
			border: border(hairline, clear),
			":hover": (
				background-color: transparentize(color(blue-dark), .2),
				text-decoration: none,
				color: color(white),
				border: border(hairline, blue),
			),
			":active": (
				background-color: color(blue, dark),
				text-decoration: none,
				color: color(white),
				border: border(hairline, blue),
			),
		),
	),
);

// Initialize the %constructor placeholder class
@include construct($button-patterns);
