// HEADINGS PATTERNS

// @extend %heading
$heading-patterns: (
	pattern-config: (
		responsive-type: true,
		size: fs--base,
		name: 'heading',
		type-style: text,
	),
	display: block,
	white-space: normal,
	margin: 0 0 margin(base) 0,
	padding: 0,
	text-align: left,
	font-family: font-family(display),
	font-weight: 400,
	color: color(black),
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(clear),
	border: none,
	":hover": (),
	":active": (),
	"::before": (),
	"::after": (),
	modifiers: (
		"--h0": (
			pattern-config: (
				responsive-type: true,
				size: fs--2,
				type-style: display,
			),
		),
		"--h1": (
			pattern-config: (
				responsive-type: true,
				size: fs--3,
				type-style: display,
			),
			color: color(blue-middle),
		),
		"--h2": (
			pattern-config: (
				responsive-type: true,
				size: fs--4,
				type-style: display,
			),
		),
		"--h3": (
			pattern-config: (
				responsive-type: true,
				size: fs--6,
				type-style: display,
			),
		),
		"--h4": (
			pattern-config: (
				responsive-type: true,
				size: fs--7,
				type-style: display,
			),
		),
		"--h5": (
			pattern-config: (
				responsive-type: true,
				size: fs--8,
				type-style: display,
			),
		),
		"--h6": (
			pattern-config: (
				responsive-type: true,
				size: fs--9,
				type-style: display,
			),
		),
		"--h7": (
			pattern-config: (
				responsive-type: true,
				size: fs--11,
				type-style: display,
			),
		),
	),
);

// Initialize the %heading placeholder class
@include construct($heading-patterns);
