// TEXT PATTERNS

// @extend %text
$text-patterns: (
	pattern-config: (
		responsive-type: true,
		size: fs--13,
		name: 'text',
		type-style: text,
	),
	display: block,
	margin: 0 0 margin(base) 0,
	padding: 0,
	white-space: normal,
	font-family: font-family(text),
	color: color(text),
	text-align: left,
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(clear),
	border: border(none),
	modifiers: (
		"--light": (
			color: color(text),
			font-family: font-family(text--light),
		),
	),
);

// Initialize the %text placeholder class
@include construct($text-patterns);
