{% if content %}
<div class="bl_template bl_template--no-padding">
    <div class="bl_template__section">
        <div class="bl_surface">
            {{ content }}
        </div>
    </div>
</div>
{% endif %}
