{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
    <header class="bl_header" role="banner">
    <div class="bl_header__branding">
        <a href="/"><img class="bl_header__logo" src="/themes/bioleap/images/navs-logo.png" alt=""></a>
    </div>
    <div class="bl_header__tofuburger">
        <span class="bl_hamburger__top-bun"></span>
        <span class="bl_hamburger__tofu"></span>
        <span class="bl_hamburger__bottom-bun"></span>
    </div>
    <div class="bl_header__menus">
        {{ content }}
    </div>
    </header>
{% endif %}
