{% if content %}
    <footer class="bl_footer">

        <img class="bl_footer__logo" src="/themes/bioleap/images/logo-no-tag-white.png" alt="NAVS Logo">
        <div class="bl_footer__contact">
            <div class="bl_footer__address">
                444 N. Wells St., Suite 406, Chicago, IL 60654
            </div>
            <div class="bl_footer__phone">
                800.888.NAVS (312.427.6065)  |  EIN: 36-2229588
            </div>
        </div>
        <div class="bl_footer__copyright">
            &copy; 2021 National Anti-Vivisection Society. All Rights Reserved. {{ content }}
        </div>
        <ul class="bl_footer__social">
            <li class="bl_footer__social-item">
                <a class="bl_footer__social-link" target="_blank" href="https://www.facebook.com/NAVS.US">
                    <span class="fab fa-facebook"></span>
                </a>
            </li>
            <li class="bl_footer__social-item">
                <a class="bl_footer__social-link" target="_blank" href="https://twitter.com/navs_us">
                    <span class="fab fa-twitter"></span>
                </a>
            </li>
            <li class="bl_footer__social-item">
                <a class="bl_footer__social-link" target="_blank" href="https://www.instagram.com/navs.us/">
                    <span class="fab fa-instagram"></span>
                </a>
            </li>
            <li class="bl_footer__social-item">
                <a class="bl_footer__social-link" target="_blank" href="https://www.youtube.com/channel/UCpFr1dYBMyvqzhyR3Jx_b8g">
                    <span class="fab fa-youtube"></span>
                </a>
            </li>
            <li class="bl_footer__social-item">
                <a class="bl_footer__social-link" target="_blank" href="https://www.linkedin.com/company/4036277/">
                    <span class="fab fa-linkedin"></span>
                </a>
            </li>
        </ul>
        <div class="bl_footer__credentials">
            <img src="/themes/bioleap/images/GreatNP2019Rating.png" alt="">
            <img src="/themes/bioleap/images/Guidestar_2020.png" alt="">
            <img src="/themes/bioleap/images/BBB-AC.png" alt="">
        </div>
    </footer>
{% endif %}
