.#{$pre}surface {
    @extend .container;
    display: flex;

    &__section {
        padding-bottom: 4rem;
        width: 100%;
        flex-basis: 100%;

        @include respond-to(tablet) {
            padding-bottom: 5rem;
        }

        @include respond-to(desktop) {
            padding-bottom: 6rem;
        }

        &--50 {
            width: 50%;
            flex-basis: 50%;
        }
        &--33 {
            width: 33%;
            flex-basis: 33%;
        }
        &--64 {
            width: 64%;
            flex-basis: 64%;
        }
    }
}
